input, .input{
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    padding-left: 10px;
    margin:auto 5%;
    width: 90%;
}
.formLines input{
    font-weight: 100;
}
.formLines{
    padding: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#submit{
    background: rgba(69, 191, 12, 0.5);
    font-size: 16px;
    font-weight: 400;
    padding: 12px 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid rgb(49, 144, 7);
    border-radius: 4px;
    transition: .4s;
}
#submit:hover{
    background: rgba(69, 191, 12 ,0.8);
}
label{
    display: none;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: auto;
    vertical-align: middle;
}
p{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    position: relative;
}
.formLines span{
    margin-left: 20%;
}
